form {

  .form-inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;

    .input-wrapper {
      margin: 10px 5px;
    }
  }

  .form-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


